# Ignorer les modules Yotta
iot/microbit-qg/yotta_modules/
iot/microbit-terrain/yotta_modules/
iot/microbit-qg/yotta_targets/
iot/microbit-terrain/yotta_targets/
iot/microbit-qg/build/
iot/microbit-terrain/build/
**/target/
.idea/
frontend/.vite/
frontend/.env.*
**/.vite/
# Ignorer les fichiers de configuration sensibles
.env
frontend/.env.*
KEYCLOAK/WEB/
PG_ADMIN/

#Ignorer les fichiers simu carte
simulator/donnees/
simulator/.idea/